body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(https://images.unsplash.com/photo-1543127172-4b33cb699e35?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    /*background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);*/
    font-family: "Poppins", sans-serif;

}

.chat-container {
    width: 80%;
    max-width: 700px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
}

.messages-general {
    padding: 20px;
    overflow-y: auto;
    height: 500px;
    

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #f0f0f0;
    color: #fff;
}

.users-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f0f0f0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    gap: 10px;
}

.user-chat {
    flex-basis: 48%;
    padding: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.user-info {

    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
}

.user-info img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-left: 10px;
}

.input-container {
    display: flex;
    align-items: center;
}

.message-input {
    flex-grow: 1;
    padding: 8px;
    border-radius: 30px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.send-btn {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

.user1 {
    background-color: #ff69b4;
  
}

.user2 {
    background-color: #ac41e1;
   
}

.message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.user1 .message {
    background-color: #ffc0cb;
    
}

.user2 .message {
    background-color: #c562e6;
}
